<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727503229020-kbed0lth1ll2r9417tcsf65020smedtk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727503229020-kbed0lth1ll2r9417tcsf65020smedtk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727503229020-e3jk60063k10rv5mgemlht2jnhn858iq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUe2nBhMKImTfkTLJ02dSdUBTMUKdnqqU</string>
	<key>GCM_SENDER_ID</key>
	<string>727503229020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jsskosApp</string>
	<key>PROJECT_ID</key>
	<string>jsskos-8852b</string>
	<key>STORAGE_BUCKET</key>
	<string>jsskos-8852b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727503229020:ios:43dc803ced0bbafc0dd699</string>
</dict>
</plist>